{% extends 'oral_history/base.html' %}

{% block content %}
Upload main media file for this item:<br>
<br>
{% for item in query_results %}
{{ item.node_title }}<br>
created_by: {{ item.created_by }}<br>
item_ark: {{ item.item_ark }}<br>
{% endfor %}
{% if messages %}
    {% for message in messages %}
    <div class="container-fluid p-0">
      <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="True">&times;</span>
        </button>
        {{ message }}
      </div>
    </div>
    {% endfor %}
{% endif %}
<br>
<form name="upload_file_form" method="POST" enctype="multipart/form-data" onsubmit="disable_upload_button(this);">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" id="upload_button">Upload</button>
</form>
{% endblock %}
